@font-face {
  font-family: 'Mantinia Regular';
  src: url('../assets/fonts/Mantinia\ Regular.otf') format('opentype');
}

body {
  margin: 0;
  background-image: url('../assets/imgs/bg5.jpg');
  background-size: cover;
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-position: center;
  color: white;
  font-family: 'Mantinia Regular', sans-serif;
}

.home {
  margin: 0;
  background-image: url('../assets/imgs/bg1.jpg');
  background-size: cover;
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-position: center;
  color: white;
  font-family: 'Mantinia Regular', sans-serif;
}

.sobre {
  margin: 0;
  background-image: url('../assets/imgs/bg7.jpg');
  background-size: cover;
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-position: center;
  color: white;
  font-family: 'Mantinia Regular', sans-serif;
}

.builds {
  margin: 0;
  background-image: url('../assets/imgs/bg8.jpg');
  background-size: cover;
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-position: center;
  color: white;
  font-family: 'Mantinia Regular', sans-serif;
}

.logar {
  margin: 0;
  background-image: url('../assets/imgs/bg3.jpg');
  background-size: cover;
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-position: center;
  color: white;
  font-family: 'Mantinia Regular', sans-serif;
}

.registrar {
  margin: 0;
  background-image: url('../assets/imgs/bg4.jpg');
  background-size: cover;
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-position: center;
  color: white;
  font-family: 'Mantinia Regular', sans-serif;
}

:root {
  --tamanho-header: 80px;
  --tamanho-banner: calc(100vh - var(--tamanho-header) - var(--tamanho-footer) - 2px);
  --tamanho-simulador: calc(100vh - var(--tamanho-header) - var(--tamanho-footer) - 2px);
  --tamanho-login: calc(100vh - var(--tamanho-header) - var(--tamanho-footer) - 2px);
  --tamanho-footer: 65px;
}

.container {
  width: 80%;
  margin: auto;
  display: flex;
}

.header .container {
  justify-content: space-between;
}

.header {
  background-color: rgba(0, 0, 0, 0.9);
  border-bottom: solid #b79563 2px;
  box-shadow: 10px 10px 40px black;
}

.header .container .titulo {
  color: #b79563;
  margin-left: 10px;
}

.header .container .logo {
  height: 80px;
  width: 80px;
  margin-right: 10px;
}

.foto {
  display: flex;
}

.header .navbar {
  color: #b79563;
  list-style-type: none;
  display: flex;
  justify-content: space-around;
  align-items: center;
  width: 300px;
}

.navbar a {
  text-decoration: none;
  color: #b79563;
}

.caixa-central {
  max-width: 700px;
  margin: 100px auto;
  background-color: rgba(0, 0, 0, 0.8);
  padding: 40px;
  border-radius: 10px;
  text-align: justify;
  box-shadow: 10px 10px 40px black;
  border: solid #b79563 2px;
  text-justify: inter-word;
}

.subtitulo {
  font-family: 'Mantinia Regular', serif;
  font-size: 60px;
  color: #b79563;
  margin-bottom: 20px;
  text-shadow: 2px 2px 8px black;
  text-align: center;
}

.descricao {
  font-size: 18px;
  line-height: 1.6;
  color: white;
  font-family: sans-serif;
  font-family: 'Mantinia Regular';
}

.social p {
  text-align: center;
}

.box {
  display: flex;
  flex-direction: column;
  align-items: center;
}

/* BUILDS */

.caixa-build {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(500px, 1fr));
  gap: 20px;
  padding: 20px;
}

.build {
  background-color: rgba(0, 0, 0, 0.9);
  border-radius: 10px;
  box-shadow: 10px 10px 40px black;
  border: solid #b79563 2px;
  text-align: center;
  margin: 20px;
}

.titulobuild {
  font-family: 'Mantinia Regular', serif;
  color: #b79563;
  text-shadow: 2px 2px 8px black;
}

.tabela-atributo {
  display: flex;
  justify-content: center;
}

.build-descricao {
  margin-left: 50px;
  margin-right: 50px;
  text-align: justify;
  text-justify: inter-word;
}

.item-talisman {
  display: flex;
  justify-content: space-between;
  gap: 20px;
  flex-wrap: nowrap;
  margin-top: 20px;
  margin-left: 10px;
  margin-right: 10px;
}

.foto-talisman {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 180px;
  text-align: center;
}

.foto-talisman img {
  border-style: solid;
  border-color: #b79563;
  border-radius: 10px;
  width: 100px;
  height: 100px;
  object-fit: cover;
  margin-bottom: 10px;
  background-color: black;
}

.foto-talisman h4 {
  margin: 0 0 5px 0;
  font-weight: bold;
}

.foto-talisman p {
  margin: 0;
  font-size: 14px;
  line-height: 1.3;
}

.foto-arma img {
  height: 200px;
  width: 200px;
  border-style: solid;
  border-color: #b79563;
  border-radius: 10px;
  background-color: black;
}

.foto-set img {
  height: 300px;
  width: 200px;
  border-style: solid;
  border-color: #b79563;
  border-radius: 10px;
  background-color: black;
}

.build h1,
h2 {
  color: #b79563;
}


/* FOOTER */

.footer {
  background-color: rgba(0, 0, 0, 0.9);
  border-top: solid #b79563 2px;
  box-shadow: -10px -10px 40px black;
}

.footer .container {
  color: #b79563;
  justify-content: space-between;
  height: 140px;
}

/* LOGIN */

.login {
  height: var(--tamanho-login);
  background-size: cover;
}

.login .container {
  justify-content: center;
  align-items: center;
  height: 100%;
}

.card {
  width: 50%;
  background-color: rgba(0, 0, 0, 0.8);
  border-radius: 10px;
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  color: #b79563;
  flex-direction: column;
  height: fit-content;
  padding: 20px 0;
  box-shadow: 0 0 40px black;
  border: solid #b79563 2px;
}

.card h2 {
  margin: 0;
  font-size: 30px;
}

.formulario {
  display: flex;
  height: 90%;
  width: 80%;
  justify-content: space-around;
  flex-direction: column;
}

.formulario span {
  font-size: 15px;
  font-weight: 800;
}

.formulario input {
  border: 2px solid #b79563;
  text-align: center;
  border-radius: 10px;
  margin: 0;
}

.formulario select {
  border: 2px solid #32b9cd;
  background-color: white;
  color: gray;
  height: 36px;
  text-align: center;
  border-radius: 10px;
  margin: 0;
}

.campo {
  display: flex;
  flex-direction: column;
  justify-content: start;
  padding: 5px 0;
}

.botao {
  cursor: pointer;
  font-family: 'Mantinia Regular', sans-serif;
  border: 0;
  border-radius: 5px;
  font-weight: 600;
  font-size: 18px;
  color: #fff;
  background-color: #b79563;
  width: 120px;
  height: 30px;
  align-self: center;
  margin-top: 20px;
}

.loading-div {
  width: 50px;
  display: none;
}

.loading-div img {
  height: 50px;
  width: 50px;
}

#div_erros_login {
  display: none
}

/* FORMULARIO */

.alerta_erro {
  display: flex;
  justify-content: flex-end;
}

.card_erro {
  display: none;
  background-color: #fff;
  color: black;
  width: 230px;
  position: fixed;
  border-radius: 4px;
  border: #b79563 3px solid;
  padding: 10px;
  margin-right: 10%;
}

.card_erro #mensagem_erro {
  font-weight: 500;
  font-size: 20px;
}

.formulario .tipo_campo {
  font-size: 20px;
  font-weight: 600 !important;
}

.formulario {
  display: flex;
  flex-direction: column;
}

input {
  margin-bottom: 10px;
  border: 2px solid #32b9cd;
  padding: 10px;
  text-align: center;
  border-radius: 10px;
}

.btn {
  font-family: "Barlow", sans-serif;
  border: 0;
  border-radius: 5px;
  font-weight: 600;
  font-size: 18px;
  padding: 10px 15px;
  color: white;
  background-color: #ED145B;
  width: 120px;
  align-self: center;
  margin-top: 5px;
}

.loading-div {
  width: 50px;
  margin: auto;
  display: none;
}

.loading-div img {
  height: 50px;
  width: 50px;
}

/* SIMULADOR */

.simulador {
  color: white;
}

.simulador .container {
  flex-direction: column;
  overflow: scroll;
  height: var(--tamanho-simulador);
}

/* ALERTA */

#alerta {
  position: absolute;
  right: 0;
  bottom: 0;
}

.mensagem-alarme {
  background-color: white;
  border-radius: 5px;
  width: 300px;
  height: 80px;
  margin: 10px;
  padding: 10px 0;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
}

.mensagem-alarme h3 {
  font-size: 14px;
  margin: 0;
}

.mensagem-alarme .informacao {
  width: 66%;
}

.alarme-sino {
  width: 48px;
  height: 48px;
  animation-name: bell;
  animation-duration: 4s;
  background-image: url('https://cdn-icons-png.flaticon.com/512/1157/1157000.png');
  background-size: cover;
  animation-iteration-count: infinite;
}

@keyframes bell {
  0% {
    transform: rotate(25deg)
  }

  25% {
    transform: rotate(-25deg)
  }

  50% {
    transform: rotate(25deg)
  }

  75% {
    transform: rotate(-25deg)
  }

  100% {
    transform: rotate(25deg)
  }
}





.slider {
  width: 99vw;
  height: 639px;
  overflow: hidden;
  position: relative;
  border-bottom: solid #b79563;
  box-shadow: 20px 20px 30px black;
}

.slides {
  width: 400%;
  height: 639px;
  display: flex;
}

.slides input {
  display: none;
}

.slide {
  width: 25%;
  position: relative;
  transition: 1s;
}

.slide img {
  width: 99vw;
  height: 639px;
}

.manual-navigation {
  position: absolute;
  width: 99vw;
  left: 0;
  margin-top: -40px;
  display: flex;
  justify-content: center;
}

.manual-btn {
  border: 2px solid #b79563;
  padding: 5px;
  border-radius: 10px;
  cursor: pointer;
  transition: 1s;
}

.manual-btn:not(:Last-child) {
  margin-right: 40px;
}

.manual-btn:hover {
  background-color: #b79563;
}

#radio1:checked~.first {
  margin-left: 0;
}

#radio2:checked~.first {
  margin-left: -25%;
}

#radio3:checked~.first {
  margin-left: -50%;
}

#radio4:checked~.first {
  margin-left: -75%;
}

.navigation-auto div {
  border: 2px solid #b79563;
  padding: 5px;
  border-radius: 10px;
  cursor: pointer;
  transition: 1s;
}

.navigation-auto {
  position: absolute;
  width: 99vw;
  left: 0;
  margin-top: 599px;
  display: flex;
  justify-content: center;
}

.navigation-auto div:not(:last-child) {
  margin-right: 40px;
}

#radio1:checked~.navigation-auto .auto-btn1 {
  background-color: #b79563;
}

#radio2:checked~.navigation-auto .auto-btn2 {
  background-color: #b79563;
}

#radio3:checked~.navigation-auto .auto-btn3 {
  background-color: #b79563;
}

#radio4:checked~.navigation-auto .auto-btn4 {
  background-color: #b79563;
}

.texto-sobre-imagem {
  position: absolute;
  top: 40%;
  left: 50%;
  transform: translate(-50%, -30%);
  color: #f3eacb;
  text-align: center;
  font-size: 30px;
  padding: 20px;
  border-radius: 10px;
  max-width: 80%;
  color: white;
  text-shadow:
    -1px -1px 0 black,
    1px -1px 0 black,
    -1px 1px 0 black,
    1px 1px 0 black;
}