@font-face {
    font-family: 'Mantinia Regular';
    src: url('../assets/fonts/Mantinia\ Regular.otf') format('opentype');
  }

body {
    margin: 0;
    height: 600vh; 
    background-image: url('../assets/home/eldenring_background.jpg'); 
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position: center;
    color: white;
    font-family: 'Mantinia Regular', sans-serif;
  }

/* HEADER */
.container {
    width: 80%;
    margin: auto;
    display: flex;
}

.header .container {
    justify-content: space-between;
}

.header {
    background-color: rgba(0, 0, 0, 0.7);
    border-bottom: solid rgb(0, 0, 0)  4px; 
}

.header .container .titulo {
    color: #b79563;
    margin-left: 10px;
}

.header .container .logo {
    height: 80px;
    width: 80px;
    margin-right: 10px;
}

.foto {
    display: flex;
}

.header .navbar {
    color: #b79563;
    list-style-type: none;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    width: 300px;
}

.navbar a {
    text-decoration: none;
    color: #b79563;
}

/* BODY HOME*/
.caixa-central {
    max-width: 700px;
    margin: 100px auto; 
    background-color: rgba(0, 0, 0, 0.7);
    padding: 40px;
    border-radius: 10px;
    text-align: center;
    box-shadow: 0 0 20px black;
    border: solid rgb(0, 0, 0)  2px; 
  }
  
  .subtitulo {
    font-family: 'Mantinia Regular', serif;
    font-size: 60px;
    color: #b79563;
    margin-bottom: 20px;
    text-shadow: 2px 2px 8px black;
  }
  
  .descricao {
    font-size: 18px;
    line-height: 1.6;
    color: white;
    font-family: sans-serif;
    font-family: 'Mantinia Regular';
  }

/* FOOTER */
.footer {
    background-color: rgba(0, 0, 0, 0.7);
    border-top: solid rgb(0, 0, 0)  4px;
}

.footer .container {
    color: #b79563;
    justify-content: center;
    height: 110px;
}

/* LOGIN */
.login {
    height: 535px;
    display: flex;
}

.login .container {
    justify-content: center;
}

.card-login {
    background-color: rgba(0, 0, 0, 0.7);
    border-radius: 10px;
    color: #b79563;
    width: 550px;
    height: 260px;
    display: flex;
    flex-direction: column;
    align-items: center;
    box-shadow: 0 0 20px black;
    border: solid rgb(0, 0, 0)  2px; 
}

.formulario {
    display: flex;
    flex-direction: column;
    justify-content: center; 
    align-items: center;          
}

.campo {
    display: flex;
    flex-direction: column;
    font-weight: bold;
    margin: 5px;
}

.botao {
    background-color: #b79563;
    color: white;
    border-radius: 5px;
    border: solid;
    margin-top: 10px;
    width: 100px;
    height: 30px;
    font-weight: bold;
}

#email_input, #senha_input {
    border-radius: 10px;
    border: solid #b79563;
    width: 400px;
    height: 30px;
    text-align: center;
}

/* CADASTRO */
.card-cadastro {
    background-color: rgba(0, 0, 0, 0.7);
    border-radius: 10px;
    color: #b79563;
    width: 550px;
    height: 460px;
    display: flex;
    flex-direction: column;
    align-items: center;
    box-shadow: 0 0 20px black;
    border: solid rgb(0, 0, 0)  2px; 
}

#codigo_input, #nome_input, #confirmacao_senha_input {
    border-radius: 10px;
    border: solid #b79563;
    width: 400px;
    height: 30px;
    text-align: center;
}

/* SOBRE */
.sobre-container {
    max-width: 800px;
    margin: 80px auto;
    padding: 40px;
    background-color: rgba(0, 0, 0, 0.7);
    border-radius: 12px;
    text-align: center;
    box-shadow: 0 0 20px black;
    color: white;
    border: solid rgb(0, 0, 0)  2px; 

  }
  
  .sobre-container h1 {
    font-family: 'Mantinia Regular', serif;
    font-size: 48px;
    color: #b79563;
    margin-bottom: 20px;
    text-shadow: 2px 2px 6px black;
  }
  
  .sobre-container p {
    font-size: 18px;
    line-height: 1.8;
    font-family: 'Mantinia Regular', sans-serif;
  }